h1 {
    text-align: center;
}

table {
    border-spacing: 30px;
  }

body {
    font-size: large;
    max-width: 50em;
    font-family: system-ui,-apple-system,"Segoe UI","Roboto","Ubuntu","Cantarell","Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.intro {
    padding-bottom: 50px;
    width: 1350px;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 2px;
    padding-top: 10px;
}

.game {
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    width: 1750px;
}

.results {
    font-size: xxx-large;
    min-height: 60px;
    padding-top: 10px;
}